@import ../../../sass/variables.sass

.showResults
    .categoryTitle
        font-size: 1.6rem
        color: $grey-color
        font-weight: 400
        margin: 4rem 0 1rem 1rem
.accordionItem
    border: none
.accordionBtn
    i
        font-size: 1.3rem
        color: $black-color
        font-weight: 500
    span
        font-size: 1.3rem
        color: $black-color
        font-weight: 500
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        display: inline-block
.accordionBody
    i
        padding-left: 10px
        font-size: 1.3rem
        color: $black-color
        font-weight: 500
    span
        font-size: 1.3rem
        color: $black-color
        font-weight: 500
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        display: inline-block

    